header h1{
    color: rgb(11, 150, 214);
}
#navigazione{
    background-color: rgb(68, 180, 231);
}

#titolo,
#navigazione{
    height: 75px;
}

nav h2{
    color: white;
}

nav h2,
nav select{
    height: 25px;
}

.box{
    width: 300px;
    height: 125px;
    border-radius: 10px;
    border: 1px solid black;
}

.icons_size{
   transform: scale(2.5);
}

